In [1]:
import numpy as np
import pandas as pd
    
df = pd.read_csv('/Users/Maxim/Desktop/Data_Mining/historical_data1_Q12016.txt', sep="|", header=None, names=['creditScore', 'FirstPayment', 'FirstTimeHomebuyer', 'Maturity', 'MetropolitanArea', 'MorgageInsurancePercentage', 'HouseUnits', 'OccupancyStatus', 'CombinedLoanToValue','DebtToIncome', 'UPB', 'OriginalLoanToValue', 'OrigninalInterestRate', 'Channel', 'PrepaymentPenaltyMorgageFlag', 'ProductType', 'PropertyState', 'PropertyType', 'ZipCode', 'LoanSequenceNo', 'LoanPurpose', 'OriginalLoanTerm', 'NumberOfBorrowers', 'SellerName', 'ServiceName', 'SuperConformFlag', 'preHARPP'])
df.head()

/Users/Maxim/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,creditScore,FirstPayment,FirstTimeHomebuyer,Maturity,MetropolitanArea,MorgageInsurancePercentage,HouseUnits,OccupancyStatus,CombinedLoanToValue,DebtToIncome,...,PropertyType,ZipCode,LoanSequenceNo,LoanPurpose,OriginalLoanTerm,NumberOfBorrowers,SellerName,ServiceName,SuperConformFlag,preHARPP
0,818,201605,NaN,204604,33340.0,000,1,O,80.0,8,...,SF,53200,F116Q1000001,N,360,1,Other sellers,Other servicers,NaN,NaN
1,773,201605,NaN,203104,33340.0,000,1,O,75.0,33,...,SF,53100,F116Q1000002,N,180,1,Other sellers,Other servicers,NaN,NaN
2,772,201603,NaN,204602,36540.0,25,1,O,87.0,22,...,SF,51500,F116Q1000003,N,360,2,USBANKNA,USBANKNA,NaN,NaN
3,756,201604,NaN,204603,33340.0,000,1,O,59.0,32,...,SF,53100,F116Q1000004,N,360,2,Other sellers,Other servicers,NaN,NaN
4,686,201604,NaN,203603,39820.0,000,1,O,65.0,41,...,MH,96000,F116Q1000005,C,240,2,Other sellers,Other servicers,NaN,NaN