In [24]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

df1 = pd.read_csv('/Users/Maxim/Desktop/Data_Mining/Project/Data/historical_data1_Q12016.txt', low_memory=False, sep="|", header=None, \
                  names=['1. creditScore', '2. FirstPayment', '3. FirstTimeHomebuyer', '4. Maturity', '5. MetropolitanArea', '6. MorgageInsurancePercentage', '7. HouseUnits', '8. OccupancyStatus', '9. CombinedLoanToValue','10. DebtToIncome', '11. UPB', '12. OriginalLoanToValue', '13. OrigninalInterestRate', '14. Channel', '15. PrepaymentPenaltyMorgageFlag', '16. ProductType', '17. PropertyState', '18. PropertyType', '19. ZipCode', '20. LoanSequenceNo', '21. LoanPurpose', '22. OriginalLoanTerm', '23. NumberOfBorrowers', '24. SellerName', '25. ServiceName', '26. SuperConformFlag', '27. preHARPP'])
                  # dtypes={'1. creditScore': np.int})
df1.replace('',np.NaN)
df1.replace('NaN',np.NaN)
display(df1.dtypes)
with pd.option_context('display.max_rows', 10, 'display.max_columns', None):
    display(df1)

1. creditScore                       object
2. FirstPayment                       int64
3. FirstTimeHomebuyer                object
4. Maturity                           int64
5. MetropolitanArea                 float64
6. MorgageInsurancePercentage        object
7. HouseUnits                         int64
8. OccupancyStatus                   object
9. CombinedLoanToValue              float64
10. DebtToIncome                     object
11. UPB                               int64
12. OriginalLoanToValue             float64
13. OrigninalInterestRate           float64
14. Channel                          object
15. PrepaymentPenaltyMorgageFlag     object
16. ProductType                      object
17. PropertyState                    object
18. PropertyType                     object
19. ZipCode                           int64
20. LoanSequenceNo                   object
21. LoanPurpose                      object
22. OriginalLoanTerm                  int64
23. NumberOfBorrowers                 int64
24. SellerName                       object
25. ServiceName                      object
26. SuperConformFlag                 object
27. preHARPP                        float64
dtype: object

,1. creditScore,2. FirstPayment,3. FirstTimeHomebuyer,4. Maturity,5. MetropolitanArea,6. MorgageInsurancePercentage,7. HouseUnits,8. OccupancyStatus,9. CombinedLoanToValue,10. DebtToIncome,11. UPB,12. OriginalLoanToValue,13. OrigninalInterestRate,14. Channel,15. PrepaymentPenaltyMorgageFlag,16. ProductType,17. PropertyState,18. PropertyType,19. ZipCode,20. LoanSequenceNo,21. LoanPurpose,22. OriginalLoanTerm,23. NumberOfBorrowers,24. SellerName,25. ServiceName,26. SuperConformFlag,27. preHARPP
0,818,201605,NaN,204604,33340.0,000,1,O,80.0,8,80000,80.0,3.750,R,N,FRM,WI,SF,53200,F116Q1000001,N,360,1,Other sellers,Other servicers,NaN,NaN
1,773,201605,NaN,203104,33340.0,000,1,O,75.0,33,118000,75.0,3.000,R,N,FRM,WI,SF,53100,F116Q1000002,N,180,1,Other sellers,Other servicers,NaN,NaN
2,772,201603,NaN,204602,36540.0,25,1,O,87.0,22,157000,87.0,3.950,C,N,FRM,IA,SF,51500,F116Q1000003,N,360,2,USBANKNA,USBANKNA,NaN,NaN
3,756,201604,NaN,204603,33340.0,000,1,O,59.0,32,325000,59.0,3.625,R,N,FRM,WI,SF,53100,F116Q1000004,N,360,2,Other sellers,Other servicers,NaN,NaN
4,686,201604,NaN,203603,39820.0,000,1,O,65.0,41,125000,65.0,3.750,R,N,FRM,CA,MH,96000,F116Q1000005,C,240,2,Other sellers,Other servicers,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277593,744,201603,N,204602,37964.0,18,1,O,97.0,43,106000,97.0,4.125,R,NaN,FRM,PA,SF,19000,F116Q1282321,P,360,1,Other sellers,Other servicers,NaN,NaN
277594,760,201603,NaN,204602,36140.0,000,1,S,79.0,48,417000,79.0,4.000,R,NaN,FRM,NJ,SF,8200,F116Q1282322,P,360,2,Other sellers,Other servicers,NaN,NaN
277595,739,201603,NaN,204602,37964.0,000,1,O,68.0,30,256000,68.0,4.125,R,NaN,FRM,PA,SF,19000,F116Q1282323,C,360,2,Other sellers,Other servicers,NaN,NaN
277596,791,201603,NaN,204602,33874.0,000,1,O,77.0,24,356000,70.0,4.125,R,NaN,FRM,PA,SF,19400,F116Q1282324,N,360,2,Other sellers,Other servicers,NaN,NaN
277597,732,201603,N,204602,37964.0,000,1,O,90.0,36,288000,80.0,4.250,R,NaN,FRM,PA,SF,19000,F116Q1282325,P,360,2,Other sellers,Other servicers,NaN,NaN

In [25]:
df2 = pd.read_csv('/Users/Maxim/Desktop/Data_Mining/Project/Data/historical_data1_time_Q12016.txt', low_memory=False, sep="|", header=None, names=['1. LoanSequenceNumber', '2. MonthlyReportingPeriod', '3. CurrentActualUPB', '4. CurrentLoanDeliquencyStatus', '5. LoanAge', '6. MonthsToLegalMaturity', '7. RepurchaseFlag', '8. ModificationFlag', '9. ZeroBalanceCode', '10. ZeroBalanceEffectiveDate', '11. CurrentInterestRate', '12. CurrentDefferedUPB', '13. DueDateLastOfPaidInstallment', '14. MorgageInsuranceRecoveries', '15. NetSalesProceeds', '16. NonMorgageInsuranceRecoveries', '17. Expenses', '18. LegalCosts', '19. MaintenanceAndPreservationCosts','20. TaxesAndInsurance', '21. MiscellaneousExpenses', '22. ActualLoss', '23. ModificationCosts'])
df2.replace('',np.NaN)
df2.replace('NaN',np.NaN)
display(df2.dtypes)
with pd.option_context('display.max_rows', 10, 'display.max_columns', None):
    display(df2)

1. LoanSequenceNumber                   object
2. MonthlyReportingPeriod                int64
3. CurrentActualUPB                    float64
4. CurrentLoanDeliquencyStatus          object
5. LoanAge                               int64
6. MonthsToLegalMaturity                 int64
7. RepurchaseFlag                       object
8. ModificationFlag                     object
9. ZeroBalanceCode                     float64
10. ZeroBalanceEffectiveDate           float64
11. CurrentInterestRate                float64
12. CurrentDefferedUPB                 float64
13. DueDateLastOfPaidInstallment       float64
14. MorgageInsuranceRecoveries         float64
15. NetSalesProceeds                   float64
16. NonMorgageInsuranceRecoveries      float64
17. Expenses                           float64
18. LegalCosts                         float64
19. MaintenanceAndPreservationCosts    float64
20. TaxesAndInsurance                  float64
21. MiscellaneousExpenses              float64
22. ActualLoss                         float64
23. ModificationCosts                  float64
dtype: object

,1. LoanSequenceNumber,2. MonthlyReportingPeriod,3. CurrentActualUPB,4. CurrentLoanDeliquencyStatus,5. LoanAge,6. MonthsToLegalMaturity,7. RepurchaseFlag,8. ModificationFlag,9. ZeroBalanceCode,10. ZeroBalanceEffectiveDate,11. CurrentInterestRate,12. CurrentDefferedUPB,13. DueDateLastOfPaidInstallment,14. MorgageInsuranceRecoveries,15. NetSalesProceeds,16. NonMorgageInsuranceRecoveries,17. Expenses,18. LegalCosts,19. MaintenanceAndPreservationCosts,20. TaxesAndInsurance,21. MiscellaneousExpenses,22. ActualLoss,23. ModificationCosts
0,F116Q1000001,201604,80000.00,0,0,360,NaN,NaN,NaN,NaN,3.750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F116Q1000001,201605,80000.00,0,1,359,NaN,NaN,NaN,NaN,3.750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F116Q1000001,201606,80000.00,0,2,358,NaN,NaN,NaN,NaN,3.750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F116Q1000001,201607,80000.00,0,3,357,NaN,NaN,NaN,NaN,3.750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F116Q1000001,201608,80000.00,0,4,356,NaN,NaN,NaN,NaN,3.750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4188202,F116Q1282242,201706,258219.33,0,14,356,NaN,NaN,NaN,NaN,4.500,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4188203,F116Q1282243,201706,254000.00,0,14,360,NaN,NaN,NaN,NaN,4.125,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4188204,F116Q1282244,201706,254331.04,0,16,354,NaN,NaN,NaN,NaN,3.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4188205,F116Q1282245,201706,305250.00,0,14,361,NaN,NaN,NaN,NaN,4.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4188206,F116Q1282246,201706,259608.23,0,16,343,NaN,NaN,NaN,NaN,4.250,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [26]:
attributeDept = '2. FirstPayment'
attributeInDept = '13. OrigninalInterestRate'
y = df1[attributeDept]
X = df1[attributeInDept]

y = np.squeeze(y)
X = np.squeeze(X)


model = sm.OLS(y, X, missing ='drop')
type(model)
results = model.fit()
type(results)
display(results.summary())
# predictions = model.predict(X)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        2. FirstPayment   R-squared:                       0.987
Model:                            OLS   Adj. R-squared:                  0.987
Method:                 Least Squares   F-statistic:                 2.171e+07
Date:                Sun, 04 Mar 2018   Prob (F-statistic):               0.00
Time:                        12:30:24   Log-Likelihood:            -3.1776e+06
No. Observations:              277598   AIC:                         6.355e+06
Df Residuals:                  277597   BIC:                         6.355e+06
Df Model:                           1
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
13. OrigninalInterestRate  5.014e+04     10.761   4659.517      0.000    5.01e+04    5.02e+04
==============================================================================
Omnibus:                     2435.967   Durbin-Watson:                   0.757
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2688.280
Skew:                           0.193   Prob(JB):                         0.00
Kurtosis:                       3.288   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""